//=====================
// field default styles
//=====================

.ol-field
  width: 600px
  background: #FCFCFC 
  padding: 20px 20px
  border-radius: 20px
  font-size: 16px
  color: #626266
  font-weight: 400
  box-shadow: 0px 5px 20px transparentize(#939399, 0.9)
  // animation
  transition: border .3s, background .3s, box-shadow .3s  
  // 
  &--input
    padding: 0 20px
    height: 60px
    column-gap: 10px
  // 
  &--textarea
    min-height: 80px
    max-height: 160px
    padding: 20px
    row-gap: 8px

//==============================
// field default elements styles
//==============================

.ol-field__icon
  color: #ffd111

.ol-field__button
  color: #ABABB2

.ol-field__input
  color: #18181A

  &::placeholder 
    color: #ABABB2

//============================
// field default states styles
//============================

.ol-field--focused
  background: #fff
  box-shadow: 0px 10px 30px transparentize(#939399, 0.8)
  

//==============================
// field default statuses styles
//==============================

.ol-field--success
  color: #16c79a


.ol-field--warning
  color: #ffc75f


.ol-field--error
  color: #ec4646


