// =======
// presets
// =======

@import presets/reset
@import presets/preset

// ==============
// olverica forms 
// ==============

@import olverica/fields/forms-elements
@import olverica/fields/forms-statuses
@import olverica/fields/forms-states
@import olverica/fields/forms-icons
@import olverica/fields/forms-defaults

// =================
// olverica checkbox
// =================
@import olverica/controls/controls

@import olverica/controls/checkbox/checkbox
@import olverica/controls/checkbox/checkbox-template

@import olverica/controls/switch/switch
@import olverica/controls/switch/switch-template

@import olverica/controls/radio/radio
@import olverica/controls/radio/radio-template

// ==========
// temp style 
// ==========

body
  background: #E5E5E5
  padding: 50px

main
  display: flex
  flex-direction: column
  gap: 50px
  width: 100%
  align-items: center

