// =======
// presets
// =======

@import presets/reset
@import presets/preset

// ==============
// olverica forms 
// ==============

@import olverica-forms/elements
@import olverica-forms/statuses
@import olverica-forms/states
@import olverica-forms/icons
@import olverica-forms/defaults

// ==========
// temp style 
// ==========

body
  background: #E5E5E5
  padding: 50px

main
  display: flex
  flex-direction: column
  gap: 50px
  width: 100%
  align-items: center




