// =====================
// icon for select title
// =====================
  
.ol-field--select
  // 
  .ol-field__title
    // 
    &::after
      font-family: "material icons round"
      content: "arrow_drop_down"
  
// ======================
// icons for input button 
// ======================

.ol-field__button
  &::before
    font-family: "material icons round"

.ol-field__button--shown
  &::before
    content: "remove_red_eye"

.ol-field__button--hidden
  &::before
    content: "visibility_off"

// ================
// icons for inputs
// ================

.ol-field__icon
  &::before
    font-family: "material icons round"

.ol-field__icon--person
  &::before
    content: "account_circle"

.ol-field__icon--email
  &::before
    content: "email"


