// ------------------------
// field-template variables
// ------------------------

$class-name: ol-field-template

// ===========================
// variables for default state
// ===========================
$font-size: 1em
$font-weight: 400
// colors
$background: #FCFCFC
$color-title: #9599ae
$color-entry: #18181A
$color-placeholder: #8489a1
$color-icon: #ffd111
$color-button: #8489a1
$color-box-shadow: transparentize(#939399, 0.9)
// statuses colors
$color-error: #ec4646
$color-success: #16c79a
$color-warning: #ffc75f
$color-active: #3366ff
// shape
$width: 600px
$height: 60px
$border-radius: 20px
$box-shadow: 0px 5px 20px $color-box-shadow
$padding: 20px
// transitions
$transition: background .3s, box-shadow .3s  
$title-transition: font-size .3s, color .3s 
$counter-transition: opacity .3s